body {
    background: rgb(157, 154, 154);
}
.container {
    width: 80%;
    margin: auto;
}
header {
    text-align: center;
    color: white;
    font-family: Fascinate;
    font-style: italic;
}
.nav-bar {
    background: rgb(53, 235, 68);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* font-family: "PT Sans Narrow", sans-serif; */
}