body {
    background: rgb(157, 154, 154);
}
.container {
    width: 80%;
    margin: auto;
}
header {
    text-align: center;
    color: white;
    font-family: Fascinate;
    font-style: italic;
}
.nav-bar {
    background: rgb(53, 235, 68);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 70;
    cursor: pointer;
}
.search input, button{
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 70;
}
.search input {
    padding: 10px 55px 10px 5px;
}
.search button {
    background: rgb(39, 37, 37);
    color: white;
    padding: 10px 40px;
}

main {
    display: flex;
}
.section {
    background: white;
    padding: 20px;
}
.section h2, h3 {
    font-family: Fascinate;
    font-style: italic;
}
.section p {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 70;
}
.article-heading-text {
    text-align: center;
}
